{% extends 'base.html' %}

{% block content %}
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This action is irreversible. Are you sure you want to continue?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Abort</button>
                    <button type="submit" class="btn btn-primary" form="sponsorForm">Continue</button>
                </div>
            </div>
        </div>
    </div>

    <form method="post" enctype="multipart/form-data" id="sponsorForm">
        {% csrf_token %}
        {{ form.tournament }}
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                {{ form.name }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Logo</label>
            <div class="col-sm-10">
                {{ form.logo }}
            </div>
            {% if form.logo.errors %}
                <div class="alert alert-danger">
                    <strong>{{ form.logo.errors }}</strong>
                </div>
            {% endif %}
        </div>
        {#        <button type="submit" class="btn btn-primary">Save</button>#}
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#confirmationModal">
            Save
        </button>
    </form>

    {% if form.errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}