{% extends 'base.html' %}
{% block content %}
    <div class="d-flex justify-content-between">
        <div>
            <p>
            <h2 class="card-title">Tournament name: <b>{{ tournament }}</b></h2>
            {% if is_creator %}
                <a href="{% url "tournament_edit" tournament.id %}" class="btn btn-primary">Edit</a>
            {% endif %}
            <br>Date: <b>{{ tournament.time }}</b>
            <br>Submission deadline:
            <b style="color:{% if deadline_exceeded %}red{% else %}green{% endif %}">{{ tournament.application_deadline }}</b>
            <br>Organizer:
            <a href="{% url 'profile' tournament.creator.id %}">{{ tournament.creator.first_name }} {{ tournament.creator.last_name }}</a>
            <br>Ranked players: <b>{{ tournament.participants.count }}/{{ tournament.max_participants }}</b>
            </p>

            <p>
                <a href="{% url 'tournament_signup' tournament.id %}"
                   class="btn btn-primary {% if full or signed_up or deadline_exceeded %}disabled{% endif %}">
                    {% if signed_up %}
                        You're already signed up
                    {% elif full %}
                        Competiton is full
                    {% elif deadline_exceeded %}
                        Submissions deadline passed
                    {% else %}
                        Sign to compete
                    {% endif %}
                </a>
            </p>
        </div>
        <div>
            Location:<br>
            <iframe width="600" height="450" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA7n1ulk5deLavAcOUdXZA4qiZo53XGAws&q={{ tournament.place }}"
                    allowfullscreen>
            </iframe>
        </div>
    </div>

    {% if tournament.sponsors.exists %}
        <p>
        <h3>Sponsors:</h3><br>
        {% for sponsor in tournament.sponsors.all %}
            <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
        {% endfor %}
        </p>
    {% endif %}
{% endblock %}