<!DOCTYPE html>
<html>
<head>
    <title>Default</title>
</head>
<body>
    <form method="post" action="/Name.cshtml">
        <input name="name" />
        <input type="submit" />
    </form>
</body>
</html>
