@{ 
    var name = "Robert Paulsen";
    if (Request["name"] != "" && Request["name"] != null)
    {
        name = Request["name"];
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Name</title>
</head>
<body>
    <ul>
        @for(var i=0; i<10; i++)
        { <li>His name is @name</li>}
    </ul>
</body>
</html>
