<a href="/"><h1 id="title">a really dope shop</h1></a>
<p>Welcome to a really dope shop</p>
<div class="items">
    <table id="t1">
        {{#each items}}
            <tr>
                <td>{{this.name}}</td>
                <td>X</td>
            </tr>
            <tr class="space"></tr>
        {{/each}}
    </table>
</div>
<h1 id="cancel">CANCEL</h1>
<h1 id="buy">BUY</h1>

<script type="text/javascript" src="javascripts/checkout.js"></script>
