<h3 id="checkout">CHECKOUT</h3>
<h1>a really dope shop</h1>
<p>Welcome to a really dope shop</p>
<div class="items">
    <table id="t1">
        {{#each items}}
            <tr>
                <td>{{this.name}}</td>
                <td><a>Buy</a></td>
            </tr>
            <tr class="space"></tr>
        {{/each}}
    </table>
</div>

<script type="text/javascript" src="javascripts/index.js"></script>
