body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: darkmagenta; }

a {
  color: darkmagenta;
  text-decoration: none; }

* {
  background: #00040b; }

div.items {
  position: relative; }

div.items table {
  border-collapse: collapse;
  position: absolute;
  top: 75%;
  left: 50%; }

tr {
  height: 25px;
  border: 1px solid darkmagenta; }

tr.space {
  border: transparent; }

td {
  padding: 20px 30px; }

#checkout {
  float: right;
  top: 0;
  padding: 2px 10px;
  border: 1px solid darkmagenta; }

#buy, #cancel {
  position: absolute;
  padding: 2px 20px;
  border: 1px solid darkmagenta;
  bottom: 40%;
  right: 20%; }

#cancel {
  right: calc(20% + 150px); }
